<a href="https://colab.research.google.com/github/Chaitanyachafle/Portfolio/blob/main/CC_Python_Interview_question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Que1. Given a list of N elements and a number K, check if there is any sub-array whose sum is
exactly K
A = [1, 4, 2, 7, 9, 10] K=18 output: Yes, as the sum of sub array [2,7,9] is 18

In [ ]:
array = [1, 4, 2, 7, 9, 10]
k=18
def array_sum(array,k):
    lst=[]
    for i in range(len(array)):
        for j in range(i+1,len(array)):
            for l in range (j+1,len(array)):
                if array[i] + array[j] + array[l] == k :
                    lst.append((array[i], array[j] ,array[l])) # While appending take care of ,
    return lst
array_sum(array,k)

[(1, 7, 10), (2, 7, 9)]

Que2. **Run a Python program to do run length encoding example “abbcdd --> a1b3c1d2“**
    This problem has divided in two part:
      1. count the number of character: 1,3,1,2
      2. concating the sting with number

In [ ]:
word = "abbcdd"

def run_length(word):
    output = ''
    count = 1  # Start count at 1 because we're counting occurrences of characters

    for i in range(1, len(word)):  # Loop starts from the second character
        if word[i] == word[i-1]:  # Compare current character with the previous one
            count += 1  # Increment count if they're the same
        else:
            output += word[i-1] + str(count)  # Append the previous character and its count
            count = 1  # Reset count for the new character

    # Append the last character and its count
    output += word[-1] + str(count)

    return output

# Example usage
encoded_word = run_length(word)
print(encoded_word)  # Outputs: "a1b2c1d2"

a1b2c1d2

Que3. Check if a string is palindrome or not

In [ ]:
#Check if a string is palindrome or not
word="malayalam"
if word==word[::-1]: # keep eye on slicing
    print(f'{word} is palidrome')
else:
    print(f'{word} is not palidrome')

malayalam is palidrome

Que4.**Create the function to create fibonacci function**

In [ ]:
def fibb2(n):
  output=[]
  a,b=0,1
  while a < n:
    output.append(a)
    a,b=b,a+b
  return output
fibb2(10)

[0, 1, 1, 2, 3, 5, 8]

In [7]:
def fibb_sequence(n):
  sequence=[]
  sequence.append(0)
  sequence.append(1)
  for i in range(2,n):
    sequence.append(sequence[i-1]+sequence[i-2])
  return sequence
fibb_sequence(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Que5: Write the python function to remove the duplicate character from given input string

In [ ]:
word='bacbc'
output='bac'
def remove_duplicate(string):
    text=''
    for i in string:
        if i not in text:
            text+=i
            #sorted_text=''.join(sorted(text)) #additional step to sort the character as per lexicographically
    return text # sorted_text

In [ ]:
remove_duplicate(word)

'bac'

Que6 :write a python code to get it sorted in the ascending order without using pre-defined functions ?
list1 = [4,7,8,1,3,2,7,7,9]

In [ ]:
def bubble_sort(arr):
    n = len(arr)
    # Traverse through all array elements
    for i in range(n):
        # Last i elements are already in place
        for j in range(0, n-i-1):
            # Traverse the array from 0 to n-i-1
            # Swap if the element found is greater than the next element
            if arr[j] > arr[j+1]:
                arr[j], arr[j+1] = arr[j+1], arr[j]

# Example usage:
list1 = [4, 7, 8, 1, 3, 2, 7, 7, 9]
bubble_sort(list1)
print(list1)

[1, 2, 3, 4, 7, 7, 7, 8, 9]

Que7:Write the python code reverse the sting

In [ ]:
s = "the sky is blue"
output="blue is sky the"
def reverse_string(input):
    word=list(str.split(input))
    reverse =" ".join(word[::-1])
    return reverse
reverse_string(s)

'blue is sky the'

Que-8 : What is difference between list and tuple? How to convert between both in code with index as first value and list value as second ?

In [ ]:
#Converting Between List and Tuple
# Original list
my_list = ['apple', 'banana', 'cherry']

# Convert to a list of tuples with index as the first value
tuple_list = [(index, value) for index, value in enumerate(my_list)]

# Convert the list of tuples to a tuple of tuples
tuple_of_tuples = tuple(tuple_list)

print(tuple_of_tuples)

((0, 'apple'), (1, 'banana'), (2, 'cherry'))

In [ ]:
# Convert tuple of tuples back to a list
list_from_tuple = [value for index, value in tuple_of_tuples]

print(list_from_tuple)

['apple', 'banana', 'cherry']

Que 9: Write a python code to reverse the string without using pre-defined function

In [1]:
original_string = "Hello, World!"
def reverse_strint(word):
  reverse_str=""
  for char in word:
    reverse_str= char+ reverse_str # IMP of main function :
  return reverse_str
reverse_strint(original_string)

'!dlroW ,olleH'

Que 10: Write a python code to left rotate the array by nth position

In [4]:
array=[1,2,3,4,5,6,7]
n=2
def left_rotate(array,n):
  return array[n:]+array[:n]
left_rotate(array,n)

[3, 4, 5, 6, 7, 1, 2]